@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   @font-face {
      font-family: 'Revue';
      src: url('//fonts/Revue\ TL\ Regular.ttf') format('truetype');
   }

   @font-face {
      font-family: 'Nepali';
      src: url('//fonts/0001\ ARAP\ \ BK\ Regular.ttf') format('truetype');
   }
}

:root {
   --def-transition-duration: 0.5s;
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: aliceblue;
}

::-webkit-scrollbar {
   width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #2d3194;
}

html {
   scroll-behavior: smooth;
}

@layer utilities {
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }
   .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
   }
}

figure {
   margin: 0;
   width: 100%;
   height: 100%;
   position: relative;
   overflow: hidden;
}

figure a img {
   width: 100%;
   height: 100%;
   transform: scale(1);
   display: block;
   object-fit: cover;
   transition-property: transform;
}

figure a img:hover {
   transform: scale(1.1);
}

figcaption {
   position: absolute;
   inset: 0;
   pointer-events: none;
   padding: 3rem 2.5rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   z-index: 1;
}

figcaption::before {
   content: '';
   position: absolute;
   inset: 0; /* makes psuedo element fullwidth and height */
   background: linear-gradient(180deg, rgba(21, 22, 24, 0.24) 0%, #151618 100%);
   z-index: -1;
   transition-property: opacity;
   opacity: 1;
}

figure:hover figcaption::before {
   opacity: 0;
}

figcaption main {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   gap: 0.4em;
   opacity: 1;
}

figure footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition-property: opacity;
   opacity: 1;
}

figure:hover main,
figure:hover footer {
   opacity: 0;
}

.team-container {
   position: absolute;
   inset: 0;
   pointer-events: none;
   padding: 3rem 2.5rem;
   display: flex;
   color: white;
   z-index: 1;
}

.team-container::before {
   content: '';
   position: absolute;
   inset: 0; /* makes psuedo element fullwidth and height */
   background: linear-gradient(180deg, rgba(21, 22, 24, 0.24) 0%, #151618 100%);
   z-index: -1;
   transition-property: opacity;
   opacity: 0;
}

.team:hover .team-container::before {
   opacity: 1;
}

.team a img:hover {
   transform: scale(1.1);
}

.team main {
   opacity: 0;
}

.team:hover main {
   opacity: 1;
}

figcaption::before,
.team-container::before,
figure a img,
.team a img,
figure main,
.team main,
figure footer,
.team-image {
   transition-duration: var(--def-transition-duration);
   transition-timing-function: ease-in-out;
}
